Repository bureau-foundation/bureau: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, gazelle, nixfmt, statix, deadnix, nix-flake-check

Path conditions:
  go-vet: any of: \.go$, but not: \.local\.
  gazelle: any of: (\.go|\.bazel|\.bzl|go\.mod|go\.sum)$, but not: \.local\.
  nixfmt: any of: \.nix$, but not: \.local\.
  statix: any of: \.nix$, but not: \.local\.
  deadnix: any of: \.nix$, but not: \.local\.
  nix-flake-check: any of: \.nix$, but not: \.local\.

Add pure Go stdlib Sigstore provenance verifier
  MODULE.bazel.lock
  docs/design/provenance.md
  go.mod
  go.sum
  gomod2nix.toml
  lib/provenance/BUILD.bazel
  lib/provenance/bundle.go
  lib/provenance/doc.go
  lib/provenance/fetch.go
  lib/provenance/testdata/othername.sigstore.json
  lib/provenance/testdata/sigstore.js@2.0.0-provenance.sigstore.json
  lib/provenance/testdata/trusted-root-public-good.json
  lib/provenance/testdata/trusted-root-scaffolding.json
  lib/provenance/verifier.go
  lib/provenance/verifier_test.go
Due: go-vet, gazelle

Add provenance CLI commands and extract resolveFleetRoom helper
  cmd/bureau/fleet/BUILD.bazel
  cmd/bureau/fleet/cache.go
  cmd/bureau/fleet/command.go
  cmd/bureau/fleet/command_test.go
  cmd/bureau/fleet/config.go
  cmd/bureau/fleet/provenance.go
  cmd/bureau/fleet/provenance_verify.go
  lib/provenance/BUILD.bazel
  lib/provenance/trusted_root.go
  lib/provenance/verifier_test.go
  script/binary-size-baseline.json
Due: go-vet, gazelle

Add integration test for provenance CLI commands
  integration/BUILD.bazel
  integration/provenance_test.go
  lib/provenance/BUILD.bazel
Due: go-vet, gazelle

Add streaming NAR digest auto-computation to provenance verify
  cmd/bureau/fleet/BUILD.bazel
  cmd/bureau/fleet/provenance_verify.go
  lib/nix/nix.go
  lib/nix/nix_test.go
Due: go-vet, gazelle

Harden provenance verifier against eight attack vectors
  lib/provenance/bundle.go
  lib/provenance/verifier.go
  lib/provenance/verifier_test.go
Due: go-vet, gazelle

Add Sigstore provenance attestation generation to CI
  .github/actions/attest-nix-paths/action.yaml
  .github/actions/attest-nix-paths/attest.sh
  .github/workflows/ci.yaml
Due: none

Add nolint:dupl directive to PipelineRef matching CredentialRef
  lib/schema/pipeline_ref.go
Due: go-vet, gazelle

Document how Nix signing key names bind to trusted-public-keys
  docs/infra/nix-cache.md
Due: none

Fix attestation subject name and suppress DSSE stdout noise
  .github/actions/attest-nix-paths/attest.sh
Due: none

Batch nix path-info calls and fix trusted-public-keys CI warning
  .github/actions/attest-nix-paths/attest.sh
  .github/workflows/ci.yaml
Due: none

Bump Go 1.25.8, add magic-nix-cache, verify cache signatures
  .github/workflows/ci.yaml
  MODULE.bazel.lock
  docs/infra/nix-cache.md
  flake.nix
  go.mod
Due: gazelle, nixfmt, statix, deadnix, nix-flake-check

Resolve store paths once to eliminate SQLite eval-cache contention
  .github/workflows/ci.yaml
Due: none

Use --print-out-paths and raw store paths to eliminate eval-cache contention
  .github/workflows/ci.yaml
Due: none

Fix output-path mapping and bundle format in attestation script
  .github/actions/attest-nix-paths/attest.sh
Due: none

Support Fulcio intermediate CAs and dsse Rekor entries for real Sigstore bundles
  lib/provenance/bundle.go
  lib/provenance/verifier.go
  lib/provenance/verifier_test.go
Due: go-vet, gazelle

Document GitHub Actions subject pattern format in provenance policy
  cmd/bureau/fleet/provenance.go
  docs/design/provenance.md
Due: go-vet, gazelle

Harden provenance verification against state manipulation attacks
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/prefetch.go
  cmd/bureau-daemon/prefetch_test.go
  cmd/bureau-daemon/sync.go
  integration/provenance_test.go
  lib/provenance/verifier.go
  lib/schema/daemon_status.go
  lib/schema/events_notification.go
  script/binary-size-baseline.json
Due: go-vet, gazelle

Add security principles: fail-closed and adversarial testing requirements
  CLAUDE.md
Due: none

Add forge artifact download with provenance verification
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-github-service/BUILD.bazel
  cmd/bureau-github-service/download.go
  cmd/bureau-github-service/download_test.go
  cmd/bureau-github-service/main.go
  cmd/bureau-github-service/outbound.go
  cmd/bureau-github-service/outbound_test.go
  cmd/bureau-github-service/provenance.go
  cmd/bureau-github-service/provenance_test.go
  cmd/bureau-github-service/service.go
  lib/github/BUILD.bazel
  lib/github/attestations.go
  lib/github/attestations_test.go
  lib/github/releases.go
  lib/github/releases_test.go
  lib/github/types.go
  lib/schema/forge/action.go
  lib/service/bootstrap.go
  script/binary-size-baseline.json
Due: go-vet, gazelle

Centralize path segment validation, add adversarial tests
  cmd/bureau-github-service/download_test.go
  cmd/bureau-github-service/outbound.go
  cmd/bureau-github-service/outbound_test.go
  cmd/bureau-github-service/provenance_test.go
  lib/principal/principal.go
  lib/principal/principal_test.go
  lib/ref/BUILD.bazel
  lib/ref/entity.go
  lib/ref/fleet.go
  lib/ref/namespace.go
  lib/ref/validate.go
  lib/ref/validate_test.go
  lib/schema/BUILD.bazel
  lib/schema/credential_ref_test.go
  lib/schema/pipeline_ref_test.go
  lib/schema/template_ref.go
  lib/schema/template_ref_test.go
Due: go-vet, gazelle

Stream artifact writes through CDC pipeline, eliminating OOM on large files
  lib/artifactstore/chunker.go
  lib/artifactstore/chunker_test.go
  lib/artifactstore/store.go
  lib/artifactstore/store_test.go
Due: go-vet, gazelle

Harden provenance verification and watchdog path comparison
  cmd/bureau-daemon/exec.go
  cmd/bureau-daemon/exec_test.go
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/prefetch.go
  cmd/bureau-daemon/prefetch_test.go
  cmd/bureau-daemon/reconcile_test.go
  cmd/bureau-launcher/exec.go
  cmd/bureau-ticket-service/main.go
  integration/update_test.go
  lib/nix/nix.go
  lib/nix/nix_test.go
Due: go-vet, gazelle

Validate service roles and endpoint socket filenames against path traversal
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/service_resolution_test.go
  lib/ref/validate.go
  lib/ref/validate_test.go
Due: go-vet, gazelle

Add pipeline publish/update commands, extract shared content loading
  cmd/bureau/cli/BUILD.bazel
  cmd/bureau/cli/content_source.go
  cmd/bureau/pipeline/BUILD.bazel
  cmd/bureau/pipeline/command.go
  cmd/bureau/pipeline/publish.go
  cmd/bureau/pipeline/update.go
  integration/template_publish_test.go
  lib/ref/BUILD.bazel
  lib/ref/content_origin.go
  lib/schema/events_template.go
  lib/schema/events_template_test.go
  lib/schema/pipeline/pipeline.go
Due: go-vet, gazelle

Add PrependVariables for composable colon-delimited env var inheritance
  cmd/bureau-daemon/template.go
  cmd/bureau-launcher/sandbox.go
  cmd/bureau/template/validate.go
  cmd/bureau/template/validate_test.go
  docs/design/architecture.md
  lib/schema/events_template.go
  lib/schema/sandbox_spec.go
  lib/schema/sandbox_spec_test.go
  lib/templatedef/resolve.go
  lib/templatedef/resolve_test.go
Due: go-vet, gazelle

Escape URL-significant characters in provenance bundle fetch path
  lib/provenance/fetch.go
  lib/provenance/verifier_test.go
Due: go-vet, gazelle

Auto-publish flake templates and pipelines during environment compose
  cmd/bureau-daemon/template.go
  cmd/bureau-pipeline-executor/execute.go
  cmd/bureau/cli/BUILD.bazel
  cmd/bureau/cli/content_source.go
  cmd/bureau/environment/BUILD.bazel
  cmd/bureau/environment/compose.go
  cmd/bureau/environment/definitions.go
  cmd/bureau/environment/definitions_test.go
  cmd/bureau/template/create.go
  cmd/bureau/template/diff.go
  cmd/bureau/template/impact.go
  cmd/bureau/template/publish.go
  cmd/bureau/template/push.go
  cmd/bureau/template/show.go
  cmd/bureau/template/update.go
  cmd/bureau/template/validate.go
  cmd/bureau/template/validate_test.go
  docs/design/service-distribution.md
  integration/BUILD.bazel
  integration/batch_flake_publish_test.go
  integration/helpers_test.go
  lib/templatedef/BUILD.bazel
  lib/templatedef/validate.go
  lib/templatedef/validate_test.go
  lib/toolsearch/schema.go
Due: go-vet, gazelle

Add environment update command for staleness detection and fleet rollout
  cmd/bureau/environment/BUILD.bazel
  cmd/bureau/environment/command.go
  cmd/bureau/environment/compose.go
  cmd/bureau/environment/dispatch.go
  cmd/bureau/environment/doc.go
  cmd/bureau/environment/update.go
  integration/BUILD.bazel
  integration/environment_update_test.go
  lib/content/pipeline/environment-compose.jsonc
  lib/schema/events_fleet.go
Due: go-vet, gazelle

Move infrastructure deployment configs to the environment repository
  .bazelrc
  .gitignore
  BUILD.bazel
  CLAUDE.md
  cmd/bureau/commands/commands.go
  cmd/bureau/environment/build.go
  cmd/bureau/environment/doc.go
  cmd/bureau/environment/status.go
  deploy/buildbarn/PLAYBOOK.md
  deploy/buildbarn/bb-runner.jsonnet
  deploy/buildbarn/bb-scheduler.jsonnet
  deploy/buildbarn/bb-storage.jsonnet
  deploy/buildbarn/bb-worker.jsonnet
  deploy/buildbarn/docker-compose.yaml
  deploy/docker/daemon.json
  deploy/forgejo/.env.example
  deploy/forgejo/PLAYBOOK.md
  deploy/forgejo/app.ini.example
  deploy/forgejo/docker-compose.yaml
  deploy/matrix/.env.example
  deploy/matrix/PLAYBOOK.md
  deploy/matrix/attic.toml
  deploy/matrix/continuwuity.toml
  deploy/matrix/docker-compose.yaml
  deploy/matrix/turnserver.conf
  docs/design/nix.md
  docs/infra/deployment.md
  docs/infra/development.md
  flake.nix
  script/dev-deploy
  script/dev-setup
  script/setup-docker
Due: go-vet, gazelle, nixfmt, statix, deadnix, nix-flake-check
