Repository bureau-foundation/bureau: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, gazelle, nixfmt, statix, deadnix, nix-flake-check

go-vet:
  name: go vet
  entry: go vet ./...
  language: system
  pass_filenames: false

gazelle:
  name: gazelle consistency
  entry: script/check-gazelle
  language: script
  pass_filenames: false

nixfmt:
  name: nixfmt
  description: Format nix files with nixfmt-rfc-style
  entry: script/nix-hook nixfmt
  language: script

statix:
  name: statix
  description: Lint nix files with statix
  entry: script/nix-hook statix
  language: script
  pass_filenames: false

deadnix:
  name: deadnix
  description: Find dead code in nix files
  entry: script/nix-hook deadnix
  language: script
  pass_filenames: false

nix-flake-check:
  name: nix flake check
  description: Validate flake evaluates correctly
  entry: script/nix-hook flake-check
  language: script
  pass_filenames: false

Add Buildbarn bb-storage to deploy/buildbarn
  deploy/buildbarn/PLAYBOOK.md
  deploy/buildbarn/bb-storage.jsonnet
  deploy/buildbarn/docker-compose.yaml
Due: none

Add bb-scheduler to Buildbarn deployment
  deploy/buildbarn/PLAYBOOK.md
  deploy/buildbarn/bb-scheduler.jsonnet
  deploy/buildbarn/bb-storage.jsonnet
  deploy/buildbarn/docker-compose.yaml
Due: none

Add attic substituter config and machine role inventory
  deploy/MACHINES.md
  deploy/matrix/PLAYBOOK.md
  script/configure-substituter
Due: none

Add label-based filtering for ObserveMembers pane expansion
  cmd/bureau-daemon/observe.go
  cmd/bureau-daemon/query_layout_test.go
  lib/schema/events.go
  lib/schema/events_test.go
  observe/expand.go
  observe/expand_test.go
  observe/layout.go
  observe/layout_test.go
Due: go-vet, gazelle

Add machine observation dashboard (bureau dashboard with no args)
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/machine_layout_test.go
  cmd/bureau-daemon/observe.go
  cmd/bureau/observe/observe.go
  observe/BUILD.bazel
  observe/machine_layout.go
  observe/machine_layout_test.go
  observe/query.go
Due: go-vet, gazelle

Improve observe CLI help text with practical operator guidance
  cmd/bureau/main.go
  cmd/bureau/observe/observe.go
Due: go-vet, gazelle

Add bb-worker and bb-runner to Buildbarn deployment
  .bazelrc
  BUILD.bazel
  deploy/buildbarn/PLAYBOOK.md
  deploy/buildbarn/bb-runner.jsonnet
  deploy/buildbarn/bb-worker.jsonnet
  deploy/buildbarn/docker-compose.yaml
Due: gazelle

Fix Buildbarn worker config and dogfood remote execution
  MODULE.bazel
  MODULE.bazel.lock
  deploy/buildbarn/PLAYBOOK.md
  deploy/buildbarn/bb-worker.jsonnet
  deploy/buildbarn/docker-compose.yaml
Due: gazelle

Bind-mount Nix store into Buildbarn runner for toolchain access
  .bazelrc
  .gitignore
  deploy/buildbarn/PLAYBOOK.md
  deploy/buildbarn/docker-compose.yaml
  flake.nix
Due: nixfmt, statix, deadnix, nix-flake-check

Remove ProfileLoader, compiled-in profiles, and config search paths
  cmd/bureau-sandbox/BUILD.bazel
  cmd/bureau-sandbox/main.go
  lib/config/config.go
  lib/config/config_test.go
  sandbox/BUILD.bazel
  sandbox/config.go
  sandbox/config_test.go
  sandbox/profile.go
  sandbox/profile_test.go
  sandbox/sandbox_test.go
Due: go-vet, gazelle

Add m.bureau.template schema types and PrincipalAssignment instance overrides
  lib/schema/BUILD.bazel
  lib/schema/events.go
  lib/schema/events_test.go
  lib/schema/template_ref.go
  lib/schema/template_ref_test.go
Due: go-vet, gazelle

Add SandboxSpec struct and extend IPC protocol for template-based sandboxes
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-launcher/main.go
  lib/schema/BUILD.bazel
  lib/schema/sandbox_spec.go
  lib/schema/sandbox_spec_test.go
Due: go-vet, gazelle

Add daemon template resolution with inheritance and wire into reconcile
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/composition_test.go
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/sync_test.go
  cmd/bureau-daemon/template.go
  cmd/bureau-daemon/template_test.go
Due: go-vet, gazelle

Launcher: consume SandboxSpec to build real bwrap sandboxes
  cmd/bureau-launcher/BUILD.bazel
  cmd/bureau-launcher/main.go
  cmd/bureau-launcher/sandbox.go
  cmd/bureau-launcher/sandbox_test.go
  sandbox/bwrap.go
  sandbox/bwrap_test.go
  sandbox/config.go
  sandbox/systemd.go
Due: go-vet, gazelle

Add base sandbox templates to bureau matrix setup
  cmd/bureau/matrix/BUILD.bazel
  cmd/bureau/matrix/setup.go
  cmd/bureau/matrix/setup_test.go
Due: go-vet, gazelle

Add hot-reload for payload changes without sandbox restart
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/reconcile_test.go
  cmd/bureau-launcher/main.go
  cmd/bureau-launcher/main_test.go
Due: go-vet, gazelle

Add bureau template CLI for managing sandbox templates
  MODULE.bazel
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/template.go
  cmd/bureau-daemon/template_test.go
  cmd/bureau/BUILD.bazel
  cmd/bureau/main.go
  cmd/bureau/template/BUILD.bazel
  cmd/bureau/template/command.go
  cmd/bureau/template/diff.go
  cmd/bureau/template/diff_test.go
  cmd/bureau/template/list.go
  cmd/bureau/template/push.go
  cmd/bureau/template/show.go
  cmd/bureau/template/validate.go
  cmd/bureau/template/validate_test.go
  go.mod
  go.sum
  lib/template/BUILD.bazel
  lib/template/resolve.go
  lib/template/resolve_test.go
Due: go-vet, gazelle

Clean up .gitignore for Bazel-era build system
  .gitignore
Due: none

Add bureau environment CLI and export baseRunnerPackages from flake
  cmd/bureau/BUILD.bazel
  cmd/bureau/environment/BUILD.bazel
  cmd/bureau/environment/build.go
  cmd/bureau/environment/command.go
  cmd/bureau/environment/list.go
  cmd/bureau/environment/nix.go
  cmd/bureau/environment/nix_test.go
  cmd/bureau/environment/status.go
  cmd/bureau/environment/system.go
  cmd/bureau/main.go
  flake.nix
Due: go-vet, gazelle, nixfmt, statix, deadnix, nix-flake-check

Add bureau template impact command for change analysis
  cmd/bureau/template/BUILD.bazel
  cmd/bureau/template/command.go
  cmd/bureau/template/impact.go
  cmd/bureau/template/impact_test.go
Due: go-vet, gazelle

Rebase Buildbarn runner-env on fleet environment repo
  cmd/bureau-daemon/composition_test.go
  deploy/buildbarn/PLAYBOOK.md
  flake.nix
Due: go-vet, gazelle, nixfmt, statix, deadnix, nix-flake-check

Enable loopback ICE candidates for same-machine and test transport
  transport/webrtc.go
Due: go-vet, gazelle

Add Nix store path prefetch before sandbox creation
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/prefetch.go
  cmd/bureau-daemon/prefetch_test.go
  cmd/bureau-daemon/reconcile.go
Due: go-vet, gazelle

Add lib/watchdog package for atomic exec() recovery detection
  lib/watchdog/BUILD.bazel
  lib/watchdog/watchdog.go
  lib/watchdog/watchdog_test.go
Due: go-vet, gazelle

Add integration test infrastructure and doctor templates checks
  .gitignore
  BUILD.bazel
  cmd/bureau/matrix/doctor.go
  cmd/bureau/matrix/doctor_test.go
  deploy/test/BUILD.bazel
  deploy/test/continuwuity.toml
  deploy/test/docker-compose.yaml
  integration/BUILD.bazel
  integration/matrix_test.go
Due: go-vet, gazelle

Add workspace subsystem schema, CLI skeleton, and launcher variable expansion
  cmd/bureau-daemon/composition_test.go
  cmd/bureau-launcher/main.go
  cmd/bureau-launcher/sandbox.go
  cmd/bureau-launcher/sandbox_test.go
  cmd/bureau/BUILD.bazel
  cmd/bureau/cli/command.go
  cmd/bureau/main.go
  cmd/bureau/workspace/BUILD.bazel
  cmd/bureau/workspace/command.go
  lib/schema/events.go
  lib/schema/events_test.go
Due: go-vet, gazelle

Add machine fleet integration test and fix config room power levels
  cmd/bureau-credentials/main.go
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/main_test.go
  integration/BUILD.bazel
  integration/matrix_test.go
  lib/schema/events.go
  lib/schema/events_test.go
Due: go-vet, gazelle

Add BureauVersion and HealthCheck to schema for daemon service lifecycle
  lib/schema/events.go
  lib/schema/events_test.go
Due: go-vet, gazelle

Add StartCondition evaluation and workspace list command
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/start_condition_test.go
  cmd/bureau/workspace/BUILD.bazel
  cmd/bureau/workspace/command.go
Due: go-vet, gazelle

Add binary content-hash comparison for Bureau version updates
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/bureau_version.go
  cmd/bureau-daemon/bureau_version_test.go
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-launcher/BUILD.bazel
  cmd/bureau-launcher/main.go
  lib/binhash/BUILD.bazel
  lib/binhash/binhash.go
  lib/binhash/binhash_test.go
Due: go-vet, gazelle

Add principal assignment integration test (Phase 2)
  integration/BUILD.bazel
  integration/matrix_test.go
Due: go-vet, gazelle

Add operator observation integration test (Phase 3)
  integration/BUILD.bazel
  integration/matrix_test.go
Due: go-vet, gazelle

Wire up version comparison and structural restart in reconciliation loop
  cmd/bureau-daemon/prefetch.go
  cmd/bureau-daemon/prefetch_test.go
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/reconcile_test.go
  cmd/bureau-launcher/main.go
  cmd/bureau-launcher/main_test.go
Due: go-vet, gazelle

Add two-agent messaging integration test and fix ListTargets race
  integration/matrix_test.go
Due: go-vet, gazelle

Implement bureau workspace create and move SessionConfig to cli/
  cmd/bureau/cli/session.go
  cmd/bureau/matrix/BUILD.bazel
  cmd/bureau/matrix/doctor.go
  cmd/bureau/matrix/doctor_test.go
  cmd/bureau/matrix/room.go
  cmd/bureau/matrix/send.go
  cmd/bureau/matrix/session.go
  cmd/bureau/matrix/space.go
  cmd/bureau/matrix/state.go
  cmd/bureau/matrix/user.go
  cmd/bureau/workspace/BUILD.bazel
  cmd/bureau/workspace/command.go
  cmd/bureau/workspace/create.go
  lib/schema/events.go
  lib/schema/events_test.go
Due: go-vet, gazelle

Split integration test into four files by concern
  integration/BUILD.bazel
  integration/fleet_test.go
  integration/helpers_test.go
  integration/matrix_test.go
  integration/messaging_test.go
  integration/setup_test.go
Due: go-vet, gazelle

Add daemon binary self-update via exec() with watchdog recovery
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/bureau_version.go
  cmd/bureau-daemon/bureau_version_test.go
  cmd/bureau-daemon/exec.go
  cmd/bureau-daemon/exec_test.go
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/reconcile.go
Due: go-vet, gazelle

Split cli/session.go and add --machine=local to workspace create
  cmd/bureau/cli/BUILD.bazel
  cmd/bureau/cli/local_machine.go
  cmd/bureau/cli/local_machine_test.go
  cmd/bureau/cli/operator_session.go
  cmd/bureau/cli/operator_session_test.go
  cmd/bureau/cli/session_config.go
  cmd/bureau/workspace/create.go
Due: go-vet, gazelle

Daemon auto-joins workspace rooms and re-reconciles on state changes
  cmd/bureau-daemon/composition_test.go
  cmd/bureau-daemon/sync.go
  cmd/bureau-daemon/sync_test.go
Due: go-vet, gazelle

Add health monitoring, resource metrics, and automatic rollback
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/composition_test.go
  cmd/bureau-daemon/exec_test.go
  cmd/bureau-daemon/health.go
  cmd/bureau-daemon/health_test.go
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/metrics.go
  cmd/bureau-daemon/metrics_test.go
  cmd/bureau-daemon/prefetch_test.go
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/reconcile_test.go
  cmd/bureau-daemon/start_condition_test.go
  lib/template/resolve.go
  lib/template/resolve_test.go
Due: go-vet, gazelle

Path conditions:
  go-vet: any of: \.go$, but not: \.local\.
  gazelle: any of: (\.go|\.bazel|\.bzl|go\.mod|go\.sum)$, but not: \.local\.
  nixfmt: any of: \.nix$, but not: \.local\.
  statix: any of: \.nix$, but not: \.local\.
  deadnix: any of: \.nix$, but not: \.local\.
  nix-flake-check: any of: \.nix$, but not: \.local\.
