Repository bureau-foundation/bureau: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, gazelle, nixfmt, statix, deadnix, nix-flake-check

go-vet:
  name: go vet
  entry: go vet ./...
  language: system
  pass_filenames: false

gazelle:
  name: gazelle consistency
  entry: script/check-gazelle
  language: script
  pass_filenames: false

nixfmt:
  name: nixfmt
  description: Format nix files with nixfmt-rfc-style
  entry: script/nix-hook nixfmt
  language: script

statix:
  name: statix
  description: Lint nix files with statix
  entry: script/nix-hook statix
  language: script
  pass_filenames: false

deadnix:
  name: deadnix
  description: Find dead code in nix files
  entry: script/nix-hook deadnix
  language: script
  pass_filenames: false

nix-flake-check:
  name: nix flake check
  description: Validate flake evaluates correctly
  entry: script/nix-hook flake-check
  language: script
  pass_filenames: false

Check all silently discarded errors across proxy, launcher, and observe
  cmd/bureau-launcher/main.go
  observe/layout.go
  proxy/handler.go
  proxy/observe.go
  proxy/server.go
Due: go-vet, gazelle

Update CLAUDE.md: fix stale content, add documentation map
  CLAUDE.md
Due: none

Extract watchDisconnect helper from duplicated IPC disconnect detection
  cmd/bureau-launcher/main.go
Due: go-vet, gazelle

Extract putProxyAdmin from three identical push-to-proxy functions
  cmd/bureau-daemon/services.go
Due: go-vet, gazelle

Move bidirectional bridge into lib/netutil, eliminate duplication
  cmd/bureau-daemon/observe.go
  lib/netutil/BUILD.bazel
  lib/netutil/bridge.go
  proxy/observe.go
Due: go-vet, gazelle

Fix three go-critic bugs: exitAfterDefer, appendAssign, sloppyLen
  cmd/bureau-bridge/main.go
  cmd/bureau/observe/observe.go
  lib/principal/match.go
  lib/principal/match_test.go
Due: go-vet, gazelle

Extract 4 duplicate code groups into shared helpers
  cmd/bureau-launcher/main.go
  cmd/bureau-launcher/main_test.go
  cmd/bureau/matrix/doctor.go
  cmd/bureau/matrix/setup.go
  cmd/bureau/matrix/user.go
  lib/secret/BUILD.bazel
  lib/secret/read.go
  lib/secret/read_test.go
  transport/signaler.go
  transport/signaler_matrix.go
  transport/signaler_memory.go
Due: go-vet, gazelle

Remove dead sleep in bridge exec mode
  cmd/bureau-bridge/main.go
Due: go-vet, gazelle

Add golangci-lint for bug detection and duplication checking
  .golangci.yml
  .pre-commit-config.yaml
  flake.nix
Due: nixfmt, statix, deadnix, nix-flake-check

Support glob wildcards in all positions around ** in pattern matching
  lib/principal/match.go
  lib/principal/match_test.go
Due: go-vet, gazelle

Doctor fix loop, credential file repair, and setup/doctor consolidation
  cmd/bureau/cli/BUILD.bazel
  cmd/bureau/cli/session_config.go
  cmd/bureau/cli/session_config_test.go
  cmd/bureau/matrix/doctor.go
  cmd/bureau/matrix/doctor_test.go
  cmd/bureau/matrix/setup.go
Due: go-vet, gazelle

Add Forgejo self-hosted git forge deployment
  .gitignore
  deploy/forgejo/.env.example
  deploy/forgejo/PLAYBOOK.md
  deploy/forgejo/app.ini.example
  deploy/forgejo/docker-compose.yaml
Due: none

Wire up workspace CLI commands and worktree daemon handlers
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/command.go
  cmd/bureau-daemon/pipeline.go
  cmd/bureau-daemon/pipeline_test.go
  cmd/bureau-daemon/worktree.go
  cmd/bureau/cli/BUILD.bazel
  cmd/bureau/cli/request_id.go
  cmd/bureau/cli/request_id_test.go
  cmd/bureau/pipeline/execute.go
  cmd/bureau/pipeline/execute_test.go
  cmd/bureau/workspace/BUILD.bazel
  cmd/bureau/workspace/command.go
  cmd/bureau/workspace/remote.go
  lib/content/BUILD.bazel
  lib/content/pipeline/dev-worktree-deinit.jsonc
  lib/content/pipeline/dev-worktree-init.jsonc
Due: go-vet, gazelle

Add integration tests for workspace commands and worktree handlers
  integration/BUILD.bazel
  integration/worktree_test.go
Due: go-vet, gazelle

Unify path validation, fix worktree pipelines, consolidate test helpers
  cmd/bureau-daemon/command.go
  cmd/bureau-daemon/worktree.go
  cmd/bureau/workspace/command.go
  cmd/bureau/workspace/remote.go
  integration/helpers_test.go
  integration/pipeline_test.go
  integration/worktree_test.go
  lib/content/pipeline/dev-worktree-deinit.jsonc
  lib/content/pipeline/dev-worktree-init.jsonc
  lib/principal/principal.go
  lib/principal/principal_test.go
Due: go-vet, gazelle

Add machine-level cache directory convention and CACHE_ROOT variable
  cmd/bureau-daemon/composition_test.go
  cmd/bureau-launcher/main.go
  cmd/bureau-launcher/sandbox_test.go
  deploy/systemd/bureau-launcher.service
  integration/bootstrap_test.go
  lib/principal/principal.go
  script/bootstrap-machine
Due: go-vet, gazelle

Add cross-machine service discovery integration test, fix --cache-root in all integration tests
  integration/BUILD.bazel
  integration/helpers_test.go
  integration/lifecycle_test.go
  integration/machine_test.go
  integration/restart_test.go
  integration/service_discovery_test.go
Due: go-vet, gazelle

Add artifact schema types with versioned event model
  cmd/bureau/matrix/doctor.go
  cmd/bureau/matrix/doctor_test.go
  lib/schema/doc.go
  lib/schema/events.go
  lib/schema/events_test.go
Due: go-vet, gazelle

Fix TestCredentialRotation: use ctime instead of inode for socket recreation detection
  integration/fleet_test.go
Due: go-vet, gazelle

Fix TMPDIR="" in nix dev shell breaking git SSH signing
  flake.nix
Due: nixfmt, statix, deadnix, nix-flake-check

Add ticket schema types with versioned event model
  lib/schema/doc.go
  lib/schema/events.go
  lib/schema/events_test.go
Due: go-vet, gazelle

Fix pre-commit auto-restage and TMPDIR in nix dev shell
  flake.nix
  script/pre-commit
Due: nixfmt, statix, deadnix, nix-flake-check

Add assert_state, on_failure, and m.bureau.worktree to pipeline system
  cmd/bureau-daemon/sync.go
  cmd/bureau-daemon/worktree.go
  cmd/bureau-pipeline-executor/execute.go
  cmd/bureau-pipeline-executor/log.go
  cmd/bureau-pipeline-executor/main.go
  cmd/bureau-pipeline-executor/main_test.go
  cmd/bureau-pipeline-executor/result.go
  cmd/bureau-state-check/BUILD.bazel
  cmd/bureau-state-check/doc.go
  cmd/bureau-state-check/main.go
  cmd/bureau/pipeline/validate_test.go
  lib/content/content_test.go
  lib/content/pipeline/dev-workspace-deinit.jsonc
  lib/content/pipeline/dev-workspace-init.jsonc
  lib/content/pipeline/dev-worktree-deinit.jsonc
  lib/content/pipeline/dev-worktree-init.jsonc
  lib/pipeline/validate.go
  lib/pipeline/validate_test.go
  lib/pipeline/variables.go
  lib/pipeline/variables_test.go
  lib/schema/BUILD.bazel
  lib/schema/events.go
  lib/schema/events_test.go
Due: go-vet, gazelle

Fix stale autoformat_test.go reference in lib/schema BUILD
  lib/schema/BUILD.bazel
Due: gazelle

Fix pre-commit auto-restage to detect collateral file modifications
  script/pre-commit
Due: none

Add injectable clock for deterministic daemon tests
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/command_test.go
  cmd/bureau-daemon/composition_test.go
  cmd/bureau-daemon/exec_test.go
  cmd/bureau-daemon/health.go
  cmd/bureau-daemon/health_test.go
  cmd/bureau-daemon/layout_watcher_test.go
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/main_test.go
  cmd/bureau-daemon/observe_auth_test.go
  cmd/bureau-daemon/observe_test.go
  cmd/bureau-daemon/pipeline_test.go
  cmd/bureau-daemon/prefetch_test.go
  cmd/bureau-daemon/query_layout_test.go
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/reconcile_test.go
  cmd/bureau-daemon/service_resolution_test.go
  cmd/bureau-daemon/services.go
  cmd/bureau-daemon/services_test.go
  cmd/bureau-daemon/start_condition_test.go
  cmd/bureau-daemon/sync.go
  cmd/bureau-daemon/sync_test.go
  cmd/bureau-daemon/transport_test.go
  lib/clock/BUILD.bazel
  lib/clock/clock.go
  lib/clock/doc.go
  lib/clock/fake.go
  lib/clock/fake_test.go
  lib/clock/real.go
Due: go-vet, gazelle

Add in-memory ticket index with dependency graph and readiness
  lib/ticket/BUILD.bazel
  lib/ticket/doc.go
  lib/ticket/index.go
  lib/ticket/index_test.go
Due: go-vet, gazelle

Replace polling loops with event-driven reconcile notification
  cmd/bureau-daemon/composition_test.go
  cmd/bureau-daemon/health.go
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/reconcile.go
Due: go-vet, gazelle

Fix workspace worktree power levels and document integration tests
  CLAUDE.md
  lib/schema/events.go
  lib/schema/events_test.go
Due: go-vet, gazelle

Decompose flake.nix into module/preset environment composition
  deploy/buildbarn/PLAYBOOK.md
  flake.nix
Due: nixfmt, statix, deadnix, nix-flake-check

Add EventTypePipelineResult and publish result state events from executor
  cmd/bureau-pipeline-executor/log.go
  cmd/bureau-pipeline-executor/main.go
  lib/schema/events.go
  lib/schema/events_test.go
Due: go-vet, gazelle

Document ticket status contention detection on TicketContent.Status
  lib/schema/events.go
Due: go-vet, gazelle

Fix payload hot-reload bind mount bug, add integration test
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-launcher/main.go
  cmd/bureau-test-agent/main.go
  integration/BUILD.bazel
  integration/machine_test.go
  integration/payload_test.go
Due: go-vet, gazelle

Add typed ContentMatch with $-prefix comparison operators
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/service_resolution_test.go
  cmd/bureau-daemon/start_condition_test.go
  cmd/bureau/workspace/create.go
  cmd/bureau/workspace/create_test.go
  integration/workspace_test.go
  lib/schema/BUILD.bazel
  lib/schema/events.go
  lib/schema/events_test.go
  lib/schema/match.go
  lib/schema/match_test.go
Due: go-vet, gazelle

Add ticket service binary and shared service infrastructure
  cmd/bureau-ticket-service/BUILD.bazel
  cmd/bureau-ticket-service/doc.go
  cmd/bureau-ticket-service/main.go
  cmd/bureau-ticket-service/socket.go
  cmd/bureau-ticket-service/sync.go
  flake.nix
  lib/service/BUILD.bazel
  lib/service/doc.go
  lib/service/registration.go
  lib/service/session.go
  lib/service/socket.go
  lib/service/socket_test.go
  lib/service/sync.go
Due: go-vet, gazelle, nixfmt, statix, deadnix, nix-flake-check

Add proxy crash recovery integration test and recovery messaging
  cmd/bureau-daemon/reconcile.go
  integration/BUILD.bazel
  integration/CLAUDE.md
  integration/proxy_crash_test.go
  integration/structured_api_test.go
Due: go-vet, gazelle

Add core CAS engine: hashing, chunking, compression, containers
  MODULE.bazel
  go.mod
  go.sum
  lib/artifact/BUILD.bazel
  lib/artifact/chunker.go
  lib/artifact/chunker_test.go
  lib/artifact/compress.go
  lib/artifact/compress_test.go
  lib/artifact/container.go
  lib/artifact/container_test.go
  lib/artifact/doc.go
  lib/artifact/hash.go
  lib/artifact/hash_test.go
  lib/artifact/reconstruction.go
  lib/artifact/reconstruction_test.go
Due: go-vet, gazelle

Hiding design docs until they are done to prevent confusing my poor agent friends.
  .gitignore
Due: none

Add design document tiering, rules, and docs/design/ migration path
  CLAUDE.md
Due: none

Add MatrixPolicy and ServiceVisibility hot-reload integration tests
  cmd/bureau-daemon/reconcile.go
  integration/BUILD.bazel
  integration/config_hotreload_test.go
  integration/helpers_test.go
Due: go-vet, gazelle

Path conditions:
  go-vet: any of: \.go$, but not: \.local\.
  gazelle: any of: (\.go|\.bazel|\.bzl|go\.mod|go\.sum)$, but not: \.local\.
  nixfmt: any of: \.nix$, but not: \.local\.
  statix: any of: \.nix$, but not: \.local\.
  deadnix: any of: \.nix$, but not: \.local\.
  nix-flake-check: any of: \.nix$, but not: \.local\.
