Repository bureau-foundation/bureau: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, gazelle, nixfmt, statix, deadnix, nix-flake-check

Path conditions:
  go-vet: any of: \.go$, but not: \.local\.
  gazelle: any of: (\.go|\.bazel|\.bzl|go\.mod|go\.sum)$, but not: \.local\.
  nixfmt: any of: \.nix$, but not: \.local\.
  statix: any of: \.nix$, but not: \.local\.
  deadnix: any of: \.nix$, but not: \.local\.
  nix-flake-check: any of: \.nix$, but not: \.local\.

Add pipeline CLI tests: validate, list, show, push, execute
  cmd/bureau/pipeline/BUILD.bazel
  cmd/bureau/pipeline/execute_test.go
  cmd/bureau/pipeline/list_test.go
  cmd/bureau/pipeline/mock_test.go
  cmd/bureau/pipeline/push_test.go
  cmd/bureau/pipeline/show_test.go
  cmd/bureau/pipeline/validate_test.go
Due: go-vet, gazelle

Disable FlakeHub cache, fix Bazel disk cache for gazelle in CI
  .github/workflows/ci.yaml
  script/check-gazelle
Due: none

Serialize CI jobs, isolate Nix setup into its own step
  .github/workflows/ci.yaml
Due: none

Revert Go version split, document cache tradeoff
  flake.nix
Due: nixfmt, statix, deadnix, nix-flake-check

Unify sandbox lifecycle around tmux session boundary
  cmd/bureau-launcher/exec.go
  cmd/bureau-launcher/exec_test.go
  cmd/bureau-launcher/main.go
  cmd/bureau-launcher/main_test.go
  cmd/bureau-launcher/sandbox.go
  cmd/bureau-launcher/sandbox_test.go
Due: go-vet, gazelle

Add R2 binary cache for Nix store paths
  .github/workflows/ci.yaml
  flake.nix
Due: nixfmt, statix, deadnix, nix-flake-check

Fix R2 cache push and add infrastructure docs
  .github/workflows/ci.yaml
  docs/infra/nix-cache.md
Due: none

Add pipeline integration tests, fix sandbox environment bugs
  cmd/bureau-daemon/pipeline.go
  cmd/bureau-daemon/pipeline_test.go
  cmd/bureau-launcher/main.go
  cmd/bureau-pipeline-executor/doc.go
  cmd/bureau-pipeline-executor/execute.go
  flake.nix
  integration/BUILD.bazel
  integration/helpers_test.go
  integration/machine_test.go
  integration/pipeline_test.go
  lib/schema/events.go
  lib/schema/events_test.go
Due: go-vet, gazelle, nixfmt, statix, deadnix, nix-flake-check

Remove magic-nix-cache, fix R2 cache push
  .github/workflows/ci.yaml
  docs/infra/nix-cache.md
Due: none

Fix workspace payloads, proxy URL encoding, add workspace integration tests
  cmd/bureau/workspace/create.go
  cmd/bureau/workspace/create_test.go
  integration/BUILD.bazel
  integration/workspace_test.go
  lib/content/content_test.go
  lib/content/pipeline/dev-workspace-deinit.jsonc
  proxy/http_service.go
  proxy/matrix_api_test.go
Due: go-vet, gazelle

Fix R2 cache credentials: use aws configure, strip endpoint scheme
  .github/workflows/ci.yaml
  docs/infra/nix-cache.md
Due: none

Add region to AWS profile to create ~/.aws/config
  .github/workflows/ci.yaml
Due: none

Add workspace room invites, membership-based auth, and sandbox exit detection
  cmd/bureau-daemon/composition_test.go
  cmd/bureau-daemon/health.go
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/reconcile.go
  integration/workspace_test.go
  lib/schema/events.go
  lib/schema/events_test.go
Due: go-vet, gazelle

Add R2 credential diagnostic before nix copy
  .github/workflows/ci.yaml
Due: none

Use env vars for S3 auth instead of AWS profiles
  .github/workflows/ci.yaml
Due: none

Add lib/tmux: typed tmux server package, replace all raw exec.Command
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/composition_test.go
  cmd/bureau-daemon/layout.go
  cmd/bureau-daemon/layout_watcher_test.go
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/observe.go
  cmd/bureau-daemon/observe_test.go
  cmd/bureau-launcher/BUILD.bazel
  cmd/bureau-launcher/exec_test.go
  cmd/bureau-launcher/main.go
  cmd/bureau-launcher/main_test.go
  cmd/bureau-observe-relay/BUILD.bazel
  cmd/bureau-observe-relay/main.go
  cmd/bureau/observe/BUILD.bazel
  cmd/bureau/observe/observe.go
  lib/tmux/BUILD.bazel
  lib/tmux/server.go
  lib/tmux/server_test.go
  lib/tmux/testserver.go
  observe/BUILD.bazel
  observe/control.go
  observe/control_test.go
  observe/dashboard.go
  observe/dashboard_test.go
  observe/integration_test.go
  observe/layout.go
  observe/layout_test.go
  observe/relay.go
  observe/relay_test.go
  observe/testutil_test.go
Due: go-vet, gazelle

Accept pending room invites at proxy startup
  cmd/bureau-proxy/BUILD.bazel
  cmd/bureau-proxy/main.go
  integration/workspace_test.go
Due: go-vet, gazelle

Add bureau quickstart command, test agent, and integration test
  cmd/bureau-launcher/main.go
  cmd/bureau-test-agent/BUILD.bazel
  cmd/bureau-test-agent/main.go
  cmd/bureau/BUILD.bazel
  cmd/bureau/main.go
  cmd/bureau/quickstart/BUILD.bazel
  cmd/bureau/quickstart/preflight.go
  cmd/bureau/quickstart/quickstart.go
  cmd/bureau/quickstart/templates.go
  flake.nix
  integration/BUILD.bazel
  integration/helpers_test.go
  integration/machine_test.go
  integration/quickstart_test.go
Due: go-vet, gazelle, nixfmt, statix, deadnix, nix-flake-check

Disable R2 cache push pending Nix 2.33.2 (NixOS/nix#15019)
  .github/workflows/ci.yaml
  docs/infra/nix-cache.md
Due: none

Add lib/nix and lib/git: typed packages for Nix and git CLI operations
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/command.go
  cmd/bureau-daemon/prefetch.go
  cmd/bureau-daemon/prefetch_test.go
  cmd/bureau/environment/BUILD.bazel
  cmd/bureau/environment/nix.go
  cmd/bureau/environment/nix_test.go
  lib/git/BUILD.bazel
  lib/git/git.go
  lib/git/git_test.go
  lib/nix/BUILD.bazel
  lib/nix/nix.go
  lib/nix/nix_test.go
Due: go-vet, gazelle

Publish pipeline definitions to #bureau/pipeline during matrix setup
  cmd/bureau/matrix/BUILD.bazel
  cmd/bureau/matrix/doctor.go
  cmd/bureau/matrix/doctor_test.go
  cmd/bureau/matrix/setup.go
Due: go-vet, gazelle

Add developer and sysadmin runner environments to Nix flake
  flake.nix
Due: nixfmt, statix, deadnix, nix-flake-check

Rename global room aliases from plural to singular: machines→machine, services→service
  cmd/bureau-credentials/main.go
  cmd/bureau-credentials/main_test.go
  cmd/bureau-daemon/command_test.go
  cmd/bureau-daemon/composition_test.go
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/main_test.go
  cmd/bureau-daemon/services.go
  cmd/bureau-daemon/sync.go
  cmd/bureau-daemon/sync_test.go
  cmd/bureau-daemon/transport.go
  cmd/bureau-launcher/main.go
  cmd/bureau/machine/command.go
  cmd/bureau/machine/decommission.go
  cmd/bureau/machine/doc.go
  cmd/bureau/machine/list.go
  cmd/bureau/machine/provision.go
  cmd/bureau/matrix/doc.go
  cmd/bureau/matrix/doctor.go
  cmd/bureau/matrix/doctor_test.go
  cmd/bureau/matrix/room.go
  cmd/bureau/matrix/setup.go
  cmd/bureau/matrix/user.go
  cmd/bureau/matrix/user_test.go
  cmd/bureau/quickstart/quickstart.go
  deploy/MACHINES.md
  deploy/matrix/PLAYBOOK.md
  integration/fleet_test.go
  integration/lifecycle_test.go
  integration/machine_test.go
  integration/setup_test.go
  lib/principal/principal.go
  lib/principal/principal_test.go
  lib/schema/events.go
  proxy/handler.go
  script/bootstrap-machine
  transport/doc.go
  transport/signaler.go
  transport/signaler_matrix.go
Due: go-vet, gazelle

Migrate password and token parameters to secret.Buffer
  cmd/bureau-launcher/BUILD.bazel
  cmd/bureau-launcher/main.go
  cmd/bureau-launcher/main_test.go
  cmd/bureau/cli/login.go
  cmd/bureau/machine/BUILD.bazel
  cmd/bureau/machine/provision.go
  cmd/bureau/matrix/setup.go
  cmd/bureau/matrix/user.go
  cmd/bureau/quickstart/BUILD.bazel
  cmd/bureau/quickstart/quickstart.go
  integration/BUILD.bazel
  integration/lifecycle_test.go
  integration/machine_test.go
  lib/secret/buffer.go
  lib/secret/buffer_test.go
  messaging/BUILD.bazel
  messaging/client.go
  messaging/client_test.go
  messaging/session.go
  messaging/session_test.go
  messaging/types.go
Due: go-vet, gazelle

Add secret.Zero and zero all sensitive byte buffers after use
  cmd/bureau-credentials/BUILD.bazel
  cmd/bureau-credentials/main.go
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/main.go
  cmd/bureau-launcher/main.go
  cmd/bureau/cli/login.go
  cmd/bureau/cli/operator_session.go
  cmd/bureau/machine/provision.go
  cmd/bureau/matrix/setup.go
  cmd/bureau/matrix/user.go
  lib/sealed/sealed.go
  lib/secret/buffer.go
  lib/secret/buffer_test.go
  proxy/credentials.go
Due: go-vet, gazelle

Add lib/httpx: bounded reads for JSON API response bodies
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/observe.go
  cmd/bureau-daemon/services.go
  cmd/bureau-pipeline-executor/BUILD.bazel
  cmd/bureau-pipeline-executor/proxy.go
  cmd/bureau-proxy-call/BUILD.bazel
  cmd/bureau-proxy-call/main.go
  integration/BUILD.bazel
  lib/httpx/BUILD.bazel
  lib/httpx/httpx.go
  lib/httpx/httpx_test.go
  messaging/BUILD.bazel
  messaging/client.go
  proxy/BUILD.bazel
  proxy/matrix_api.go
Due: go-vet, gazelle

Add bootstrap integration test: script + bwrap-in-Docker verification
  deploy/test/Dockerfile.machine
  integration/bootstrap_test.go
  script/bootstrap-machine
Due: go-vet, gazelle

Support array containment in StartCondition ContentMatch
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/start_condition_test.go
  lib/schema/events.go
Due: go-vet, gazelle

Fix silent io.Copy error handling in bidirectional bridges and HTTP proxying
  bridge/BUILD.bazel
  bridge/bridge.go
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/observe.go
  cmd/bureau-daemon/services.go
  cmd/bureau-pipeline-executor/BUILD.bazel
  cmd/bureau-pipeline-executor/proxy.go
  cmd/bureau-proxy-call/BUILD.bazel
  cmd/bureau-proxy-call/main.go
  lib/netutil/BUILD.bazel
  lib/netutil/closed.go
  lib/netutil/httpx.go
  lib/netutil/httpx_test.go
  messaging/BUILD.bazel
  messaging/client.go
  proxy/BUILD.bazel
  proxy/http_service.go
  proxy/matrix_api.go
  proxy/observe.go
Due: go-vet, gazelle

Fix nix binary missing from PATH inside nix develop shell
  flake.nix
Due: nixfmt, statix, deadnix, nix-flake-check

Add direct service socket infrastructure: schema, IPC types, template merge
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/template.go
  cmd/bureau-launcher/main.go
  lib/schema/events.go
  lib/schema/events_test.go
  lib/schema/sandbox_spec.go
  lib/template/doc.go
  lib/template/resolve.go
Due: go-vet, gazelle

Add integration tests for ContentMatch array containment through full reconcile path
  cmd/bureau-daemon/start_condition_test.go
Due: go-vet, gazelle

Implement service socket resolution and launcher bind-mount
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/service_resolution_test.go
  cmd/bureau-launcher/main.go
Due: go-vet, gazelle

Add e2e integration test for direct service socket resolution
  cmd/bureau-daemon/composition_test.go
Due: go-vet, gazelle

Implement daemon restart recovery via launcher sandbox discovery
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-launcher/main.go
  cmd/bureau-launcher/main_test.go
  integration/BUILD.bazel
  integration/restart_test.go
Due: go-vet, gazelle

Add integration test for Matrix power level enforcement through Continuwuity
  integration/BUILD.bazel
  integration/powerlevel_test.go
Due: go-vet, gazelle

Fix misplaced doc comment: attach ConfigRoomPowerLevels comment to its function
  lib/schema/events.go
Due: go-vet, gazelle

Add pipeline room subtests to power level enforcement integration test
  integration/powerlevel_test.go
Due: go-vet, gazelle

Add event-driven proxy crash detection via wait-proxy IPC
  cmd/bureau-daemon/composition_test.go
  cmd/bureau-daemon/health.go
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-launcher/main.go
Due: go-vet, gazelle

Unify room metadata power level events across all power level functions
  cmd/bureau/matrix/setup.go
  lib/schema/events.go
  lib/schema/events_test.go
Due: go-vet, gazelle
