Repository bureau-foundation/bureau: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, buildifier, license-go, license-bazel, license-shell, license-nix, go-vet, golangci-lint, buildifier-lint, shellcheck, lychee, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix, nixfmt, statix, deadnix, nix-flake-check

gofmt:
  run: script/format-staged gofmt -w -- {staged_files}
  priority: 1

buildifier:
  run: script/format-staged buildifier -- {staged_files}
  priority: 1

license-go:
  run: script/format-staged script/insert-license --comment-style "//" -- {staged_files}
  priority: 1

license-bazel:
  run: script/format-staged script/insert-license --comment-style "#" -- {staged_files}
  priority: 1

license-shell:
  run: script/format-staged script/insert-license --comment-style "#" -- {staged_files}
  priority: 1

license-nix:
  run: script/format-staged script/insert-license --comment-style "#" -- {staged_files}
  priority: 1

go-vet:
  run: go vet $(script/go-package-dirs {staged_files})
  priority: 2

golangci-lint:
  run: golangci-lint run --new-from-rev HEAD --timeout=5m $(script/go-package-dirs {staged_files})
  priority: 2

buildifier-lint:
  run: buildifier --lint=warn {staged_files}
  priority: 2

shellcheck:
  run: shellcheck --severity=warning {staged_files}
  priority: 2

lychee:
  run: lychee --offline --no-progress {staged_files}
  priority: 2

check-real-clock:
  run: script/check-real-clock
  priority: 2

check-raw-output:
  run: script/check-raw-output
  priority: 2

check-bare-tmux:
  run: script/check-bare-tmux
  priority: 2

check-banned-imports:
  run: script/check-banned-imports
  priority: 2

gazelle:
  run: script/check-gazelle
  priority: 3

gomod2nix:
  run: script/check-gomod2nix
  priority: 3

nixfmt:
  run: script/format-staged script/nix-hook nixfmt -- {staged_files}
  priority: 5

statix:
  run: script/nix-hook statix
  priority: 5

deadnix:
  run: script/nix-hook deadnix
  priority: 5

nix-flake-check:
  run: script/nix-hook flake-check
  priority: 5

Add bureau-github-service skeleton with webhook ingestion and HTTP server infrastructure
  cmd/bureau-github-service/BUILD.bazel
  cmd/bureau-github-service/doc.go
  cmd/bureau-github-service/github_types.go
  cmd/bureau-github-service/main.go
  cmd/bureau-github-service/service.go
  cmd/bureau-github-service/webhook.go
  cmd/bureau-github-service/webhook_test.go
  lib/service/BUILD.bazel
  lib/service/doc.go
  lib/service/http.go
  lib/service/http_test.go
  script/binary-size-baseline.json
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add Claude agent integration test and fix log completion race in sandbox exit
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-test-agent-claude/BUILD.bazel
  cmd/bureau-test-agent-claude/main.go
  integration/BUILD.bazel
  integration/claude_agent_test.go
  script/binary-size-baseline.json
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Publish forges.md design doc and retire forgejo.md placeholder
  CLAUDE.md
  README.md
  docs/design/README.md
  docs/design/authorization.md
  docs/design/forgejo.md
  docs/design/forges.md
  docs/design/fundamentals.md
Due: lychee

Add lib/github/ typed REST API client with App auth and token rotation
  lib/github/BUILD.bazel
  lib/github/actions.go
  lib/github/api_test.go
  lib/github/app.go
  lib/github/auth.go
  lib/github/auth_test.go
  lib/github/client.go
  lib/github/client_test.go
  lib/github/doc.go
  lib/github/errors.go
  lib/github/errors_test.go
  lib/github/etag.go
  lib/github/git.go
  lib/github/hooks.go
  lib/github/issues.go
  lib/github/pagination.go
  lib/github/pagination_test.go
  lib/github/pulls.go
  lib/github/ratelimit.go
  lib/github/reviews.go
  lib/github/status.go
  lib/github/types.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Wire bureau MCP server into Claude Code agent sandboxes
  cmd/bureau-agent-claude/driver.go
  cmd/bureau-agent-claude/hooks.go
  cmd/bureau-agent-claude/hooks_test.go
  cmd/bureau-test-agent-claude/main.go
  integration/claude_agent_test.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Attach output capture log to pipeline ticket on executor startup
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-pipeline-executor/main.go
  cmd/bureau-pipeline-executor/main_test.go
  integration/pipeline_test.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add forge subscription manager with room and entity routing
  cmd/bureau-github-service/BUILD.bazel
  cmd/bureau-github-service/main.go
  cmd/bureau-github-service/service.go
  cmd/bureau-github-service/subscribe.go
  lib/forgesub/BUILD.bazel
  lib/forgesub/doc.go
  lib/forgesub/filter.go
  lib/forgesub/filter_test.go
  lib/forgesub/manager.go
  lib/forgesub/manager_test.go
  lib/forgesub/subscriber.go
  lib/schema/forge/BUILD.bazel
  lib/schema/forge/stream.go
  lib/schema/forge/stream_test.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add issue-to-ticket sync in GitHub forge service
  cmd/bureau-github-service/BUILD.bazel
  cmd/bureau-github-service/main.go
  cmd/bureau-github-service/service.go
  cmd/bureau-github-service/ticketsync.go
  cmd/bureau-github-service/ticketsync_test.go
  cmd/bureau-github-service/webhook.go
  cmd/bureau-github-service/webhook_test.go
  lib/forgesub/manager.go
  lib/forgesub/manager_test.go
  lib/schema/forge/stream.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add bureau telemetry CLI command group for querying telemetry service
  cmd/bureau/commands/BUILD.bazel
  cmd/bureau/commands/commands.go
  cmd/bureau/telemetry/BUILD.bazel
  cmd/bureau/telemetry/command.go
  cmd/bureau/telemetry/connection.go
  cmd/bureau/telemetry/format.go
  cmd/bureau/telemetry/logs.go
  cmd/bureau/telemetry/metrics.go
  cmd/bureau/telemetry/status.go
  cmd/bureau/telemetry/top.go
  cmd/bureau/telemetry/traces.go
  docs/design/telemetry.md
  script/binary-size-baseline.json
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, lychee, check-raw-output, check-banned-imports, gazelle, gomod2nix

Fix observe relay readiness and session lifecycle bugs
  observe/client.go
  observe/client_test.go
  observe/integration_test.go
  observe/relay.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Enforce type safety across forge schema and fix silent failures in GitHub client
  cmd/bureau-github-service/BUILD.bazel
  cmd/bureau-github-service/main.go
  cmd/bureau-github-service/service.go
  cmd/bureau-github-service/subscribe.go
  cmd/bureau-github-service/ticketsync.go
  cmd/bureau-github-service/ticketsync_test.go
  cmd/bureau-github-service/webhook.go
  cmd/bureau-github-service/webhook_test.go
  lib/forgesub/filter.go
  lib/forgesub/filter_test.go
  lib/forgesub/manager_test.go
  lib/github/client.go
  lib/github/issues.go
  lib/github/pulls.go
  lib/schema/forge/config.go
  lib/schema/forge/config_test.go
  lib/schema/forge/stream.go
  lib/schema/forge/stream_test.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add deferred ticket status with viewer tab and service transitions
  cmd/bureau-ticket-service/socket_mutate.go
  cmd/bureau/ticket/mutate.go
  cmd/bureau/ticket/query.go
  cmd/bureau/ticket/transfer.go
  lib/schema/ticket/ticket.go
  lib/ticketindex/index.go
  lib/ticketui/detail_test.go
  lib/ticketui/dropdown.go
  lib/ticketui/keys.go
  lib/ticketui/model.go
  lib/ticketui/model_test.go
  lib/ticketui/source.go
  lib/tui/theme.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add bureau log CLI commands for raw terminal output
  cmd/bureau-telemetry-service/tail.go
  cmd/bureau/commands/BUILD.bazel
  cmd/bureau/commands/commands.go
  cmd/bureau/log/BUILD.bazel
  cmd/bureau/log/command.go
  cmd/bureau/log/connection.go
  cmd/bureau/log/export.go
  cmd/bureau/log/list.go
  cmd/bureau/log/resolve.go
  cmd/bureau/log/show.go
  cmd/bureau/log/tail.go
  lib/schema/telemetry/BUILD.bazel
  lib/schema/telemetry/tail.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-raw-output, check-banned-imports, gazelle, gomod2nix

Fix observe relay and session test flakes under stress
  observe/client_test.go
  observe/relay.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add model service design doc and schema types
  docs/design/README.md
  docs/design/model-service.md
  lib/schema/model/BUILD.bazel
  lib/schema/model/action.go
  lib/schema/model/model.go
  lib/schema/model/model_test.go
  lib/schema/model/wire.go
  lib/servicetoken/token.go
  lib/servicetoken/token_test.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, lychee, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add model registry for alias resolution and provider lookup
  lib/modelregistry/BUILD.bazel
  lib/modelregistry/registry.go
  lib/modelregistry/registry_test.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add OpenAI-compatible model provider with streaming support
  lib/modelprovider/BUILD.bazel
  lib/modelprovider/openai.go
  lib/modelprovider/openai_test.go
  lib/modelprovider/provider.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add per-project account selection and quota tracking to model registry
  lib/modelregistry/BUILD.bazel
  lib/modelregistry/account.go
  lib/modelregistry/account_test.go
  lib/modelregistry/quota.go
  lib/modelregistry/quota_test.go
  lib/modelregistry/registry.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add ServiceStream and OpenStream for bidirectional CBOR streaming
  lib/service/BUILD.bazel
  lib/service/client.go
  lib/service/stream.go
  lib/service/stream_test.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add model service binary with completion streaming and embedding
  cmd/bureau-model-service/BUILD.bazel
  cmd/bureau-model-service/complete.go
  cmd/bureau-model-service/cost.go
  cmd/bureau-model-service/cost_test.go
  cmd/bureau-model-service/credentials.go
  cmd/bureau-model-service/credentials_test.go
  cmd/bureau-model-service/doc.go
  cmd/bureau-model-service/embed.go
  cmd/bureau-model-service/main.go
  cmd/bureau-model-service/service.go
  cmd/bureau-model-service/sync.go
  cmd/bureau-model-service/sync_test.go
  script/binary-size-baseline.json
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add model service CLI commands and query endpoints
  cmd/bureau-model-service/query.go
  cmd/bureau-model-service/service.go
  cmd/bureau/commands/commands.go
  cmd/bureau/model/BUILD.bazel
  cmd/bureau/model/command.go
  cmd/bureau/model/complete.go
  cmd/bureau/model/connection.go
  cmd/bureau/model/doc.go
  cmd/bureau/model/embed.go
  cmd/bureau/model/list.go
  cmd/bureau/model/status.go
  lib/schema/model/action.go
  script/binary-size-baseline.json
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-raw-output, check-banned-imports, gazelle, gomod2nix

Move model query response types to lib/schema/model
  cmd/bureau-model-service/BUILD.bazel
  cmd/bureau-model-service/query.go
  cmd/bureau/commands/BUILD.bazel
  cmd/bureau/model/list.go
  cmd/bureau/model/status.go
  lib/schema/model/BUILD.bazel
  lib/schema/model/query.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-raw-output, check-banned-imports, gazelle, gomod2nix

Deduplicate wire response types across service and CLI packages
  CLAUDE.md
  cmd/bureau-ticket-service/notification_test.go
  cmd/bureau-ticket-service/socket.go
  cmd/bureau-ticket-service/socket_mutate.go
  cmd/bureau-ticket-service/socket_mutate_test.go
  cmd/bureau-ticket-service/socket_query.go
  cmd/bureau-ticket-service/socket_query_test.go
  cmd/bureau-ticket-service/socket_stewardship.go
  cmd/bureau-ticket-service/socket_timer_test.go
  cmd/bureau-ticket-service/stewardship_test.go
  cmd/bureau-ticket-service/sync.go
  cmd/bureau/mcp/resource_tickets.go
  cmd/bureau/model/list.go
  cmd/bureau/model/status.go
  cmd/bureau/ticket/BUILD.bazel
  cmd/bureau/ticket/attach.go
  cmd/bureau/ticket/dep.go
  cmd/bureau/ticket/gate.go
  cmd/bureau/ticket/mutate.go
  cmd/bureau/ticket/query.go
  cmd/bureau/ticket/response.go
  cmd/bureau/ticket/review.go
  cmd/bureau/ticket/stewardship.go
  cmd/bureau/ticket/transfer.go
  lib/schema/model/query.go
  lib/schema/stewardship/BUILD.bazel
  lib/schema/stewardship/response.go
  lib/schema/ticket/BUILD.bazel
  lib/schema/ticket/response.go
  lib/schema/ticket/score.go
  lib/ticketindex/index.go
  lib/ticketui/detail.go
  lib/ticketui/list.go
  lib/ticketui/model.go
  lib/ticketui/source.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, lychee, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add webhook-driven auto-subscribe for forge entity subscriptions
  cmd/bureau-github-service/BUILD.bazel
  cmd/bureau-github-service/autosubscribe.go
  cmd/bureau-github-service/github_types.go
  cmd/bureau-github-service/service.go
  cmd/bureau-github-service/subscribe.go
  cmd/bureau-github-service/webhook.go
  lib/forgesub/BUILD.bazel
  lib/forgesub/involved.go
  lib/forgesub/manager.go
  lib/forgesub/manager_test.go
  lib/forgesub/subscriber.go
  lib/schema/forge/stream.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Preserve detail pane scroll position on same-ticket re-render
  lib/ticketui/detail.go
  lib/ticketui/detail_test.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add batching and latency policy routing to model service
  cmd/bureau-model-service/BUILD.bazel
  cmd/bureau-model-service/background.go
  cmd/bureau-model-service/background_test.go
  cmd/bureau-model-service/complete.go
  cmd/bureau-model-service/completion_gate.go
  cmd/bureau-model-service/completion_gate_test.go
  cmd/bureau-model-service/embed.go
  cmd/bureau-model-service/embed_batcher.go
  cmd/bureau-model-service/embed_batcher_test.go
  cmd/bureau-model-service/latency.go
  cmd/bureau-model-service/latency_test.go
  cmd/bureau-model-service/main.go
  cmd/bureau-model-service/service.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add HTTP compatibility proxy to model service
  cmd/bureau-model-service/BUILD.bazel
  cmd/bureau-model-service/httpproxy.go
  cmd/bureau-model-service/httpproxy_test.go
  cmd/bureau-model-service/main.go
  lib/modelregistry/registry.go
  lib/schema/model/model.go
  script/binary-size-baseline.json
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Implement continuation threading for model service
  cmd/bureau-model-service/BUILD.bazel
  cmd/bureau-model-service/complete.go
  cmd/bureau-model-service/continuation.go
  cmd/bureau-model-service/continuation_test.go
  cmd/bureau-model-service/main.go
  cmd/bureau-model-service/service.go
  cmd/bureau/model/complete.go
  lib/schema/model/wire.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add update lifecycle integration test and fix launcher exec binary discovery
  cmd/bureau-launcher/exec.go
  cmd/bureau-launcher/main.go
  integration/BUILD.bazel
  integration/update_test.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add @mention extraction for on_mention auto-subscribe trigger
  cmd/bureau-github-service/service.go
  lib/forgesub/BUILD.bazel
  lib/forgesub/involved.go
  lib/forgesub/manager.go
  lib/forgesub/mention.go
  lib/forgesub/mention_test.go
  script/binary-size-baseline.json
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add grant enforcement to model service handlers
  cmd/bureau-model-service/BUILD.bazel
  cmd/bureau-model-service/auth.go
  cmd/bureau-model-service/auth_test.go
  cmd/bureau-model-service/complete.go
  cmd/bureau-model-service/embed.go
  cmd/bureau-model-service/httpproxy.go
  cmd/bureau-model-service/httpproxy_test.go
  cmd/bureau-model-service/query.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add model service integration test and fix CBOR keyasint in buildRequest
  integration/BUILD.bazel
  integration/model_service_test.go
  lib/codec/cbor.go
  lib/codec/cbor_test.go
  lib/service/client.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add @mention dispatch from GitHub comments to Bureau rooms
  cmd/bureau-github-service/BUILD.bazel
  cmd/bureau-github-service/github_types.go
  cmd/bureau-github-service/main.go
  cmd/bureau-github-service/mention.go
  cmd/bureau-github-service/mention_test.go
  cmd/bureau-github-service/service.go
  cmd/bureau-github-service/webhook.go
  cmd/bureau-github-service/webhook_test.go
  lib/schema/forge/config.go
  lib/schema/forge/config_test.go
  lib/schema/forge/stream.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add model catalog discovery library and CLI command
  cmd/bureau/model/BUILD.bazel
  cmd/bureau/model/catalog.go
  cmd/bureau/model/command.go
  lib/modeldiscovery/BUILD.bazel
  lib/modeldiscovery/catalog.go
  lib/modeldiscovery/doc.go
  lib/modeldiscovery/filter.go
  lib/modeldiscovery/filter_test.go
  lib/modeldiscovery/openrouter.go
  lib/modeldiscovery/openrouter_test.go
  lib/modeldiscovery/pricing.go
  lib/modeldiscovery/pricing_test.go
  lib/schema/model/action.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add forge attribution schema and connector-side ingestion
  cmd/bureau-github-service/main.go
  cmd/bureau-github-service/service.go
  lib/forgesub/manager.go
  lib/forgesub/manager_test.go
  lib/schema/forge/attribution.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add proxy response interception for forge attribution publishing
  lib/forgesub/BUILD.bazel
  lib/schema/forge/BUILD.bazel
  proxy/BUILD.bazel
  proxy/attribution.go
  proxy/attribution_test.go
  proxy/handler.go
  proxy/http_service.go
  proxy/server.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add model alias sync: catalog discovery to Matrix state events
  cmd/bureau-model-service/service.go
  cmd/bureau-model-service/sync.go
  cmd/bureau/model/BUILD.bazel
  cmd/bureau/model/command.go
  cmd/bureau/model/sync.go
  lib/modeldiscovery/BUILD.bazel
  lib/modeldiscovery/alias.go
  lib/schema/model/query.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-raw-output, check-banned-imports, gazelle, gomod2nix

Add tests for alias generation and model sync integration
  cmd/bureau-model-service/sync.go
  integration/model_service_test.go
  lib/modeldiscovery/BUILD.bazel
  lib/modeldiscovery/alias_test.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add machine deploy and uninstall commands
  cmd/bureau/machine/BUILD.bazel
  cmd/bureau/machine/command.go
  cmd/bureau/machine/deploy.go
  cmd/bureau/machine/doctor.go
  cmd/bureau/machine/uninstall.go
  script/binary-size-baseline.json
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-raw-output, check-banned-imports, gazelle, gomod2nix

Add tests for machine deploy and uninstall commands
  cmd/bureau/machine/BUILD.bazel
  cmd/bureau/machine/deploy_test.go
  cmd/bureau/machine/uninstall_test.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Path conditions:
  gofmt: any of: *.go
  buildifier: any of: *.{bazel,bzl}
  license-go: any of: *.go
  license-bazel: any of: *.{bazel,bzl}
  license-shell: any of: script/*, but not: *.md, *.txt, *.json, *.gitkeep, **/nix-expected-version, **/nix-installer-version
  license-nix: any of: *.nix
  go-vet: any of: *.go
  golangci-lint: any of: *.go
  buildifier-lint: any of: *.{bazel,bzl}
  shellcheck: any of: script/*, but not: *.md, *.txt, *.json, *.gitkeep, **/nix-expected-version, **/nix-installer-version, **/ci-lint-coverage
  lychee: any of: *.md
  check-real-clock: any of: *_test.go
  check-raw-output: any of: *.go
  check-bare-tmux: any of: *_test.go
  check-banned-imports: any of: *.go
  gazelle: any of: *.{go,bazel,bzl,mod,sum}
  gomod2nix: any of: *.{go,mod,sum}
  nixfmt: any of: *.nix
  statix: any of: *.nix
  deadnix: any of: *.nix
  nix-flake-check: any of: *.nix
