Repository bureau-foundation/bureau: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, buildifier, license-go, license-bazel, license-shell, license-nix, go-vet, golangci-lint, buildifier-lint, shellcheck, lychee, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix, nixfmt, statix, deadnix, nix-flake-check

Path conditions:
  gofmt: any of: *.go
  buildifier: any of: *.{bazel,bzl}
  license-go: any of: *.go
  license-bazel: any of: *.{bazel,bzl}
  license-shell: any of: script/*, but not: *.md, *.txt, *.json, *.gitkeep, **/nix-expected-version, **/nix-installer-version
  license-nix: any of: *.nix
  go-vet: any of: *.go
  golangci-lint: any of: *.go
  buildifier-lint: any of: *.{bazel,bzl}
  shellcheck: any of: script/*, but not: *.md, *.txt, *.json, *.gitkeep, **/nix-expected-version, **/nix-installer-version, **/ci-lint-coverage
  lychee: any of: *.md
  check-real-clock: any of: *_test.go
  check-raw-output: any of: *.go
  check-bare-tmux: any of: *_test.go
  check-banned-imports: any of: *.go
  gazelle: any of: *.{go,bazel,bzl,mod,sum}
  gomod2nix: any of: *.{go,mod,sum}
  nixfmt: any of: *.nix
  statix: any of: *.nix
  deadnix: any of: *.nix
  nix-flake-check: any of: *.nix

Add model alias fallback chains and ResolveChain registry method
  cmd/bureau-model-service/httpproxy_test.go
  cmd/bureau-model-service/service.go
  lib/modelregistry/account_test.go
  lib/modelregistry/registry.go
  lib/modelregistry/registry_test.go
  lib/schema/model/model.go
  lib/schema/model/wire.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add fallback retry loop to model completion handler
  cmd/bureau-model-service/complete.go
Due: gofmt, license-go, go-vet, golangci-lint, check-raw-output, check-banned-imports, gazelle, gomod2nix

Add tests for model fallback chain validation and retry logic
  cmd/bureau-model-service/BUILD.bazel
  cmd/bureau-model-service/complete_test.go
  lib/schema/model/model_test.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add bureau model enable: production config room provisioning
  cmd/bureau/model/BUILD.bazel
  cmd/bureau/model/command.go
  cmd/bureau/model/enable.go
  integration/BUILD.bazel
  integration/model_service_test.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add fallback retry loop to embed handler with integration tests
  cmd/bureau-model-service/complete_test.go
  cmd/bureau-model-service/embed.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add deployment and development guides with dev instance scripts
  deploy/dev/config
  deploy/dev/docker-compose.yaml
  docs/infra/deployment.md
  docs/infra/development.md
  script/dev-deploy
  script/dev-down
  script/dev-setup
  script/dev-status
  script/dev-up
Due: license-shell, shellcheck, lychee

Fix first-boot detection to check machine-key.pub instead of keypair.json
  cmd/bureau/machine/deploy.go
  cmd/bureau/machine/deploy_test.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Unify service CLI with fleet controller
  cmd/bureau/fleet/BUILD.bazel
  cmd/bureau/fleet/command.go
  cmd/bureau/fleet/command_test.go
  cmd/bureau/fleet/connection.go
  cmd/bureau/fleet/machines.go
  cmd/bureau/fleet/response.go
  cmd/bureau/fleet/services.go
  cmd/bureau/fleet/status.go
  cmd/bureau/service/BUILD.bazel
  cmd/bureau/service/command.go
  cmd/bureau/service/command_test.go
  cmd/bureau/service/fleet_connection.go
  cmd/bureau/service/list.go
  cmd/bureau/service/placement.go
  cmd/bureau/service/show.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Suppress wasted reconcile cycles for unconfigured daemons
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/sync.go
  cmd/bureau-daemon/sync_test.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Unify machine CLI with fleet controller
  cmd/bureau/fleet/BUILD.bazel
  cmd/bureau/fleet/command.go
  cmd/bureau/fleet/command_test.go
  cmd/bureau/fleet/machines.go
  cmd/bureau/fleet/response.go
  cmd/bureau/fleet/status.go
  cmd/bureau/machine/BUILD.bazel
  cmd/bureau/machine/command.go
  cmd/bureau/machine/command_test.go
  cmd/bureau/machine/fleet_connection.go
  cmd/bureau/machine/list.go
  cmd/bureau/machine/show.go
  cmd/bureau/service/placement.go
  integration/cli_smoke_test.go
  integration/operator_journey_test.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Serialize Continuwuity admin room commands to prevent response cross-talk
  integration/helpers_test.go
  messaging/admin.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Register model-service, bureau-agent, and bureau-agent-claude templates
  cmd/bureau/matrix/setup.go
  cmd/bureau/matrix/setup_test.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Make fleet controller required for CLI list/show commands
  cmd/bureau/machine/BUILD.bazel
  cmd/bureau/machine/command.go
  cmd/bureau/machine/fleet_connection.go
  cmd/bureau/machine/list.go
  cmd/bureau/service/BUILD.bazel
  cmd/bureau/service/command.go
  cmd/bureau/service/fleet_connection.go
  cmd/bureau/service/list.go
  cmd/bureau/service/show.go
  integration/cli_smoke_test.go
  integration/helpers_test.go
  integration/operator_journey_test.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add bureau machine cordon, uncordon, and label commands
  cmd/bureau/machine/BUILD.bazel
  cmd/bureau/machine/command.go
  cmd/bureau/machine/command_test.go
  cmd/bureau/machine/label.go
  cmd/bureau/machine/label_test.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Route bureau-agent LLM calls through model service HTTP proxy
  cmd/bureau-agent/BUILD.bazel
  cmd/bureau-agent/driver.go
  cmd/bureau-agent/driver_test.go
  cmd/bureau-agent/main.go
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/service_resolution_test.go
  lib/llm/anthropic.go
  lib/llm/anthropic_test.go
  lib/llm/openai.go
  lib/llm/openai_test.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Fix workspace credential provisioning and prepare Claude agent deployment
  cmd/bureau/agent/create.go
  cmd/bureau/matrix/setup.go
  cmd/bureau/matrix/setup_test.go
  cmd/bureau/workspace/BUILD.bazel
  cmd/bureau/workspace/create.go
  flake.nix
  integration/helpers_test.go
  integration/operator_journey_test.go
  integration/workspace_test.go
  integration/worktree_test.go
Due: gofmt, buildifier, license-go, license-bazel, license-nix, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix, nixfmt, statix, deadnix, nix-flake-check

Add fleet controller drain socket action and CLI command
  cmd/bureau-fleet-controller/execute.go
  cmd/bureau-fleet-controller/execute_test.go
  cmd/bureau-fleet-controller/socket.go
  cmd/bureau-fleet-controller/socket_test.go
  cmd/bureau/fleet/connection.go
  cmd/bureau/fleet/response.go
  cmd/bureau/machine/BUILD.bazel
  cmd/bureau/machine/command.go
  cmd/bureau/machine/command_test.go
  cmd/bureau/machine/drain.go
  lib/schema/fleet/action.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add RequiredServices to agent-service template and default artifact store dir
  cmd/bureau-artifact-service/main.go
  cmd/bureau/matrix/setup.go
Due: gofmt, license-go, go-vet, golangci-lint, check-raw-output, check-banned-imports, gazelle, gomod2nix

Add fleet ergonomics integration tests and room watcher diagnostics
  cmd/bureau/fleet/BUILD.bazel
  cmd/bureau/fleet/command.go
  cmd/bureau/fleet/command_test.go
  cmd/bureau/fleet/enable.go
  cmd/bureau/fleet/setup.go
  cmd/bureau/machine/provision.go
  cmd/bureau/service/create.go
  cmd/bureau/service/destroy.go
  integration/fleet_controller_test.go
  integration/fleet_test.go
  integration/machine_test.go
  messaging/room_watcher.go
  script/binary-size-baseline.json
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Route model service through proxy for credential injection
  cmd/bureau-daemon/services.go
  cmd/bureau-model-service/BUILD.bazel
  cmd/bureau-model-service/complete.go
  cmd/bureau-model-service/complete_test.go
  cmd/bureau-model-service/credentials.go
  cmd/bureau-model-service/credentials_test.go
  cmd/bureau-model-service/embed.go
  cmd/bureau-model-service/embed_batcher.go
  cmd/bureau-model-service/embed_batcher_test.go
  cmd/bureau-model-service/httpproxy.go
  cmd/bureau-model-service/httpproxy_test.go
  cmd/bureau-model-service/latency.go
  cmd/bureau-model-service/latency_test.go
  cmd/bureau-model-service/main.go
  cmd/bureau-model-service/service.go
  cmd/bureau-model-service/sync.go
  cmd/bureau-proxy/main.go
  cmd/bureau/matrix/setup.go
  lib/modelprovider/openai.go
  lib/modelprovider/openai_test.go
  lib/modelprovider/provider.go
  lib/schema/events_template.go
  proxy/handler.go
  proxy/http_service.go
  proxy/server.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add subscription auth mount to Claude agent template and deployment guide
  cmd/bureau/matrix/setup.go
  docs/infra/deployment.md
Due: gofmt, license-go, go-vet, golangci-lint, lychee, check-raw-output, check-banned-imports, gazelle, gomod2nix

Add script/update-claude-credentials for sandbox auth setup
  docs/infra/deployment.md
  script/update-claude-credentials
Due: license-shell, shellcheck, lychee

Add fleet-managed service lifecycle commands (define, instances, scale, delete)
  cmd/bureau/service/BUILD.bazel
  cmd/bureau/service/command.go
  cmd/bureau/service/command_test.go
  cmd/bureau/service/define.go
  cmd/bureau/service/delete.go
  cmd/bureau/service/instances.go
  cmd/bureau/service/scale.go
  integration/machine_test.go
  integration/native_agent_test.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add operator session fallback to SessionConfig and content drift detection to doctor
  cmd/bureau/cli/session_config.go
  cmd/bureau/matrix/doctor.go
  cmd/bureau/matrix/doctor_test.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Generalize service endpoints: replace Protocol with declared Endpoints map
  cmd/bureau-daemon/observe_service_token.go
  cmd/bureau-daemon/observe_test.go
  cmd/bureau-daemon/pipeline_test.go
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/reconcile_test.go
  cmd/bureau-daemon/service_resolution_test.go
  cmd/bureau-daemon/services.go
  cmd/bureau-daemon/services_test.go
  cmd/bureau-daemon/sync_test.go
  cmd/bureau-daemon/transport_test.go
  cmd/bureau-model-service/main.go
  integration/config_hotreload_test.go
  integration/fleet_test.go
  integration/helpers_test.go
  integration/service_discovery_test.go
  lib/agentdriver/context.go
  lib/agentdriver/context_test.go
  lib/proxyclient/client.go
  lib/proxyclient/client_test.go
  lib/schema/events_machine.go
  lib/schema/events_machine_test.go
  lib/service/bootstrap.go
  lib/service/discovery.go
  lib/service/discovery_test.go
  lib/service/registration.go
  proxy/handler.go
  proxy/server_test.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add template publish command with origin tracking for out-of-tree services
  cmd/bureau/template/BUILD.bazel
  cmd/bureau/template/command.go
  cmd/bureau/template/publish.go
  cmd/bureau/template/validate.go
  docs/design/README.md
  docs/design/service-distribution.md
  integration/BUILD.bazel
  integration/template_publish_test.go
  lib/schema/events_template.go
  lib/schema/events_template_test.go
  lib/templatedef/resolve.go
  script/binary-size-baseline.json
  script/check-sdk-boundary
Due: gofmt, buildifier, license-go, license-bazel, license-shell, go-vet, golangci-lint, buildifier-lint, shellcheck, lychee, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Move integration-test-env resolution from test-time nix build to Bazel loading phase
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  build/BUILD.bazel
  build/nix_env.bzl
  integration/BUILD.bazel
  integration/helpers_test.go
  integration/template_publish_test.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add room-scoped observation allowances via RoomAuthorizationPolicy
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/reconcile_test.go
  docs/design/architecture.md
  docs/design/authorization.md
  docs/design/observation.md
  integration/fleet_test.go
  integration/operator_journey_test.go
  lib/schema/authorization.go
  lib/schema/authorization_test.go
Due: gofmt, license-go, go-vet, golangci-lint, lychee, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Eliminate silent event loss and indefinite hangs on transient Matrix errors
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/command.go
  cmd/bureau-daemon/retry.go
  cmd/bureau-daemon/retry_test.go
  messaging/client_test.go
  messaging/errors.go
  messaging/room_watcher.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add outbound GitHub API socket actions with integration tests
  cmd/bureau-github-service/BUILD.bazel
  cmd/bureau-github-service/main.go
  cmd/bureau-github-service/outbound.go
  cmd/bureau-github-service/outbound_test.go
  cmd/bureau-github-service/service.go
  lib/github/api_test.go
  lib/github/client.go
  lib/github/pulls.go
  lib/github/types.go
  script/binary-size-baseline.json
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Route RequiredServices to remote machines via transport tunnels
  cmd/bureau-daemon/daemon_test.go
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/service_resolution_test.go
  cmd/bureau-daemon/services.go
  cmd/bureau-daemon/sync.go
  cmd/bureau-daemon/transport.go
  cmd/bureau-daemon/transport_test.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Fix service directory loss during unconfigured daemon phase
  cmd/bureau-daemon/sync.go
  cmd/bureau-daemon/sync_test.go
  integration/fleet_test.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Switch webhook ingestion to Unix sockets and register tunnel templates
  cmd/bureau-github-service/doc.go
  cmd/bureau-github-service/main.go
  cmd/bureau-model-service/httpproxy.go
  cmd/bureau-model-service/main.go
  cmd/bureau/matrix/setup.go
  cmd/bureau/matrix/setup_test.go
  deploy/cloudflared/SETUP.md
  deploy/cloudflared/config.yml.example
  lib/service/http.go
  lib/service/http_test.go
Due: gofmt, license-go, go-vet, golangci-lint, lychee, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Refactor daemon principal tracking to single lifecycle state enum
  cmd/bureau-daemon/BUILD.bazel
  cmd/bureau-daemon/daemon_test.go
  cmd/bureau-daemon/health.go
  cmd/bureau-daemon/health_test.go
  cmd/bureau-daemon/lifecycle.go
  cmd/bureau-daemon/machine_layout_test.go
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/main_test.go
  cmd/bureau-daemon/observe.go
  cmd/bureau-daemon/observe_test.go
  cmd/bureau-daemon/pipeline.go
  cmd/bureau-daemon/prefetch_test.go
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/reconcile_test.go
  cmd/bureau-daemon/service_resolution_test.go
  cmd/bureau-daemon/services.go
  cmd/bureau-daemon/services_test.go
  cmd/bureau-daemon/shutdown.go
  cmd/bureau-daemon/shutdown_test.go
  cmd/bureau-daemon/start_condition_test.go
  cmd/bureau-daemon/start_failure_test.go
  cmd/bureau-daemon/sync.go
  cmd/bureau-daemon/token_refresh.go
  cmd/bureau-daemon/token_refresh_test.go
Due: gofmt, buildifier, license-go, license-bazel, go-vet, golangci-lint, buildifier-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Resolve command binaries against sandbox mount destinations
  cmd/bureau-daemon/daemon_test.go
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/reconcile_test.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Skip backoff for configuration errors in daemon start failure tracking
  cmd/bureau-daemon/main.go
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-daemon/start_failure_test.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Change Bureau tmux prefix from C-a to C-b
  cmd/bureau-launcher/main_test.go
  cmd/bureau-launcher/tmux.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Live credential rotation without sandbox restart
  cmd/bureau-daemon/reconcile.go
  cmd/bureau-launcher/handlers.go
  cmd/bureau-proxy/main.go
  integration/fleet_test.go
  integration/health_test.go
  integration/helpers_test.go
  lib/ipc/types.go
  lib/schema/events_notification.go
  lib/schema/events_notification_test.go
  proxy/credentials.go
  proxy/credentials_test.go
  proxy/handler.go
  proxy/server.go
Due: gofmt, license-go, go-vet, golangci-lint, check-real-clock, check-raw-output, check-bare-tmux, check-banned-imports, gazelle, gomod2nix

Add Lean 4 formal verification of reconciliation loop
  MODULE.bazel
  MODULE.bazel.lock
  build/lean_toolchain.bzl
  lefthook.yml
  script/ci-lint-coverage
  verify/reconciliation/.gitignore
  verify/reconciliation/BUILD.bazel
  verify/reconciliation/BureauReconcile.lean
  verify/reconciliation/BureauReconcile/Basic.lean
  verify/reconciliation/Main.lean
  verify/reconciliation/lake-manifest.json
  verify/reconciliation/lakefile.toml
  verify/reconciliation/lean-toolchain
  verify/reconciliation/verify.sh
Due: buildifier, license-bazel, license-shell, buildifier-lint, gazelle
